Source: apt-mirror
Section: net
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Brandon Holtsclaw <me@brandonholtsclaw.com>
Dm-Upload-Allowed: yes
Uploaders: Rudy Godoy <rudy@debian.org>
Homepage: http://apt-mirror.sourceforge.net/
Build-Depends: cdbs, debhelper (>= 5)
Build-Depends-Indep: lsb-release
Standards-Version: 3.8.4

Package: apt-mirror
Architecture: all
Depends: wget, perl, perl-modules, adduser, ${misc:Depends}
Description: APT sources mirroring tool
 A small and efficient tool that lets you mirror a part of or
 the whole Debian GNU/Linux distribution or any other apt sources.
 .
 Main features:
  * It uses a config similar to apts <sources.list>
  * It's fully pool comply
  * It supports multithreaded downloading
  * It supports multiple architectures at the same time
  * It can automatically remove unneeded files
  * It works well on overloaded channel to internet
  * It never produces an inconsistent mirror including while mirroring
  * It works on all POSIX compliant systems with perl and wget

